.item {
    padding: 1rem;
}

.play-status {
    height: 1rem;
    width: 1rem;
    display: inline-block;
}

:host {
    display: block;
    float: left;
    width: 100%;
    transition: all .2s linear;
    &:hover {
        cursor: pointer;
        background: rgba(255, 255, 255, 0.3);
    }
}