:host {
    display: block;
    width: 100%;
    height: 50%;
    //手機
    @media all and (max-width: 767px) {
        height: 100%;
    }
}

%padding-top-1rem {
    padding-top: 1rem;
}

%padding-bottom-1rem {
    padding-bottom: 1rem;
}

.top-panel {
    width: 50%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @media all and (max-width: 767px) {
        width: 100%;
        height: 50%;
    }
}

#section-one {
    flex-direction: row;

    @media all and (max-width: 767px) {
        flex-direction: column;
    }
}

#section-two div:not(:first-child) {
    margin-top: 1.5rem;
}

.album-container {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    @media all and (max-width: 767px) {
        width: 100%;
    }
}

.song-info-container {
    width: 70%;

    flex-shrink: 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;


    @media all and (max-width: 767px) {
        width: 100%;
    }

    & > div{
        position: relative;
        margin: 1rem;

        @media all and (min-width: 768px) {
            padding-left: 2rem;
        }

        @media all and (max-width: 767px) {
            display: flex;
            justify-content: center;
            align-items: center;

            & > div {
                white-space: nowrap;
                overflow-x: auto;
                overflow-y: hidden;
                width: 100%;
                text-align: center;
            }
        }
    }
}



.song-info {
    font-size: 1rem;
}

.song-title {
    font-size: 1.5rem;
}

#control-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    i {
        $bigger: 0.2;
        &:hover {
            transform: scale(1 + $bigger);
            cursor: pointer;
        }

        &:nth-child(2) {
            transform: scale(1.5);
            &:hover{
                transform: scale(1.5 + $bigger);
            }
        }
    }
}

.album{
    &.old{
        position: absolute;
        z-index: 99;
        opacity: 1;
    }
    opacity: 0;
    height: 10rem;
    width: 10rem;
    display: block;
    border-radius: 50%;
    z-index: 90;
}

.song-title,
.song-artist {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    &.old{
        position: absolute;
        z-index: 99;
        opacity: 1;
    }
    opacity: 0;
    display: block;
    z-index: 90;
}

#wrapper {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.8);
    z-index: 9999;
    position: fixed;
    display: none;
    font-size: 2rem;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}