<div id="section-one" class="top-panel changeColor" [style.color]="fontColor">
    <div class="album-container center-center">
        <img class="album old" [src]="song.imgsrc.old" [@fadeAnimation]="fadeAlbum.old" (@fadeAnimation.start)="fadeAnimationStart($event)" (@fadeAnimation.done)="fadeAnimationDone($event)">
        <img class="album" [src]="song.imgsrc.new" [@fadeAnimation]="fadeAlbum.new" (@fadeAnimation.start)="fadeAnimationStart($event)" (@fadeAnimation.done)="fadeAnimationDone($event)">
    </div>
    <div class="song-info-container">
        <div>
            <div class="song-title old" [@fadeAnimation]="fadeAlbum.old" (@fadeAnimation.start)="fadeAnimationStart($event)" (@fadeAnimation.done)="fadeAnimationDone($event)">{{ song.title.old }}</div>
            <div class="song-title" [@fadeAnimation]="fadeAlbum.new" (@fadeAnimation.start)="fadeAnimationStart($event)" (@fadeAnimation.done)="fadeAnimationDone($event)">{{ song.title.new }}</div>
        </div>
        <div>
            <div class="song-artist old" [@fadeAnimation]="fadeAlbum.old" (@fadeAnimation.start)="fadeAnimationStart($event)" (@fadeAnimation.done)="fadeAnimationDone($event)">{{ song.artist.old }}</div>
            <div class="song-artist" [@fadeAnimation]="fadeAlbum.new" (@fadeAnimation.start)="fadeAnimationStart($event)" (@fadeAnimation.done)="fadeAnimationDone($event)">{{ song.artist.new }}</div>
        </div>
    </div>
</div>
<div id="section-two" class="top-panel changeColor" [style.color]="fontColor">
    <div id="control-bar" class="w-80">
        <i class="fa fa-chevron-circle-left fa-3x" aria-hidden="true" command="prev" (click)="sendCommand($event)"></i>

        <i *ngIf="!status.playing" class="fa fa-play-circle-o fa-3x" aria-hidden="true" command="pause" (click)="sendCommand($event)"></i>
        <i *ngIf="status.playing" class="fa fa-pause-circle-o fa-3x" aria-hidden="true" command="pause" (click)="sendCommand($event)"></i>

        <i class="fa fa-chevron-circle-right fa-3x" aria-hidden="true" command="next" (click)="sendCommand($event)"></i>
    </div>
    <div class="center-center w-80">
        <mat-slider min="0" [max]="song.duration" step="1" [value]="song.elapsed" (input)="stopAutoSeek()" (change)="positionSeek($event.value)"></mat-slider>
    </div>
</div>